<div class="sidenav-menu">
  <mat-toolbar color="accent">
    <mat-nav-list>
      <a mat-list-item *ngIf="(currentUser$ | async)">
        <mat-icon mat-list-icon>person</mat-icon>
        <h3 mat-line class="current-user">Hello, {{ (currentUser$ | async)?.userName }}</h3>
      </a>
      <a mat-list-item *ngIf="!(currentUser$ | async)">
        <h3 mat-line>Please login</h3>
      </a>
    </mat-nav-list>
  </mat-toolbar>

  <mat-nav-list>

    <mat-divider></mat-divider>
    <a mat-list-item *ngIf="loggedIn$ | async" (click)="logout()">
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <h3 mat-line>Logout</h3>
    </a>
  </mat-nav-list>
</div>