/* You can add global styles to this file, and also import other style files 
  -Use a pre-built theme
*/

//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

// Or define your own
@import "./styles/custom-theme.scss";

/* global styles go here -- keep it concise */
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto","Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Don't modify anything below this line */ 
@import "~basscss/css/basscss.min.css";
@import '~basscss-type-scale/css/type-scale.css';
@import '~basscss-typography/css/typography.css';
@import '~basscss-layout/css/layout.css';
@import '~basscss-align/css/align.css';
@import '~basscss-margin/css/margin.css';
@import '~basscss-padding/css/padding.css';
@import '~basscss-grid/css/grid.css';
@import '~basscss-flexbox/css/flexbox.css';
@import '~basscss-position/css/position.css';
@import '~basscss-border/css/border.css';
@import '~basscss-hide/css/hide.css';



